.header {
    background: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 30px;
}

.header__logo{
    

}

.header__cart {
    display: flex;
    align-items: baseline;

}

.header__cart__button {
    display: flex;
    position: relative;
}

.header__cart__quantity {
    position: absolute;
    top: -10px;
    right: -15px;
    background-color: grey;
    color: white;
    border-radius: 50%;
    padding: 1px 8px;
}

.header__cart__sum {
    margin-left: 20px;
    font-weight: 500;
    
    
    
}
